@charset 'UTF-8';

body {
    width: 100%;
    height: 100%;
    background-image: url(../../img/index-background.png);
    background-size: cover;
    overflow-x: hidden;
}

h2 {
    color: #707070;
}

hr {
    width: 100%;
    left: 0px;
    height: 2px;
    background-color: #707070;
}